.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #0d0d0e;
}

input:focus+.slider {
  box-shadow: 0 0 1px #0d0d0e;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  width: 100%;
  transition: all ease-in-out .4s;
}

.box{
  display: flex;
  flex-direction: column;
  padding: 5vw 0;
  align-items: center;
  /* padding: 3vw 0; */
}

*{
  margin: 0;
  padding: 0;
}

.dark{
  background-color: black;
}

.img{
  width: 30vw;
  margin-top: 3vw;
  /* height: 50vh; */
  /* background-color: aqua; */
  overflow: hidden;
  transition: all ease-in-out .4;
}

.img img{
  object-fit: cover;
  width: 100%;
  border-radius: 1vw;
  height: 100%;
}

p{
  /* color: white; */
  font-size: 2vw;
  margin-bottom: 1vw;
  font-family: Arial, Helvetica, sans-serif;
}

.visibility{
  visibility: hidden;
}

.text-white{
  color: white;
}